
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Play:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-white: #ffffff;      /* Keep it as white */
  --clr-black: #202020;      /* Keep it as black */
  --clr-blue: #25408f;       /* New color for blue */
  --clr-blue-2: #4c7eb1;     /* New color for blue-2 */
}
body {
  margin: 0;
  font-family: "Play";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #0D0D1A;
  min-height: 100vh; /* Set the minimum height to 100vh */
}

.mint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 100px auto; /* Increase the top margin to move it down */
}

.input-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  max-width: 250px;
}

/* ------------------------------------------------------ */
/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.nav__brand h1 {
  font-family: "Michroma-Regular", Helvetica; /* Change the font-family */
  color: var(--clr-blue);
  font-size: clamp(1.75em, 4vw, 2.5em);
  font-weight: 800;
}

.nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background-color: var(--clr-blue);
  color: var(--clr-white);

  border: none;
  border-radius: 25px; /* Add rounded edges */
  padding: 0 20px; /* Adjust padding for rounded appearance */

  font-family: "Crimson Text-Regular", Helvetica, sans-serif; /* Change the font-family */
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

.nav__connect:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- FORM -- */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  max-width: 250px;
}

form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 0 25px
}

form input[type="text"] {
  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 10px;

  border: 1px solid var(--clr-blue);
  border-radius: 4px;

  font-size: 1.10em;

  /* Add box-sizing property to include padding and border in the specified width and height */
  box-sizing: border-box;
}

form textarea {
  width: 250px;
  height: 150px; /* Increase the height to accommodate more text */
  margin: 10px 0;
  padding: 10px;

  border: 1px solid var(--clr-blue);
  border-radius: 4px;

  font-size: 1.10em;
  resize: vertical; /* Allow vertical resizing of the textarea */
}

form input[type="submit"] {
  background-color: var(--clr-blue);
  color: var(--clr-white);

  width: 250px;
  height: 50px;
  margin: 10px 0;
  padding: 0 20px;

  border: none;
  border-radius: 25px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 400;

  cursor: pointer;
  transition: all 250ms ease;
}

form input[type="submit"]:hover {
  background-color: var(--clr-blue-2);
}

/* Footer.js styles */
.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.view-metadata-btn {
  background-color: var(--clr-blue);
  color: var(--clr-white);

  width: 175px;
  height: 50px;
  padding: 0 20px;

  border: none;
  border-radius: 25px;

  font-family: "Play";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
}

.view-metadata-btn:hover {
  background-color: var(--clr-blue-2);
}

/* ------------------------------------------------------ */
/* -- IMAGE -- */

.image {
  width: 512px;
  height: 512px;
  margin: 10px;
  border: 3px solid var(--clr-blue);
  border-radius: 4px;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.image__placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image__placeholder p {
  margin: 0 10px;
}

/* ------------------------------------------------------ */
/* -- TEXT -- */
p {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .form {
    max-width: 100%;
  }
}